{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block content %}

                    <!--Cadastro Dados do Imóvel-->
                    <div class="container mb-5 p-2">
                        <div class="row">
                            <div class="col text-center fs-4 p-3">
                                <h2 class="fs-2">Dados do Local</h2>
                            </div>
                        </div>
                        <div class="row border rounded ">
                            <div class="col-lg-6 pb-3">
                                <label class="form-label fs-6">Inscrição Imobiliária:</label>
                                <input class="form-control w-auto" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" placeholder="N. da Inscrição" autofocus maxlength="11" minlength="11"
                                    name="inscricao" value="{{ localizacao.inscricao }}">
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="form-label fs-6">Coordernada UTM: </label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input class="form-control w-auto mt-2" type="number" step="0.01" placeholder="Coord. X" name="utmX" value="{{ localizacao.utmX|cut:'2' }}">
                                        <div class="py-2">
                                            <input class="form-control w-auto" type="number" step="0.01" placeholder="Coord. Y" name="utmY" value="{{ localizacao.utmY|cut:'2' }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col border rounded py-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Regiões</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01" name="regiao" required>
                                        <option value="Anhanduizinho">Anhanduizinho</option>
                                        <option value="Bandeira">Bandeira</option>
                                        <option value="Centro">Centro</option>
                                        <option value="Imbirussu">Imbirussu</option>
                                        <option value="Lagoa">Lagoa</option>
                                        <option value="Prosa">Prosa</option>
                                        <option value="Segredo">Segredo</option>
                                        <option value="Dist_Anhandui">Dist. Anhandui</option>
                                        <option value="Dist_Rochedinho">Dist. Rochedinho</option>
                                        <option value="Zona_Rural">Zona Rural</option>
                                        <option selected value="{{ localizacao.regiao }}">{{ localizacao.regiao }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5 border rounded">
                            <div class="col-lg-12 pt-2">
                                <label class="form-label fs-6">Bairro:</label>
                                <input name="bairro" class="form-control" type="text" placeholder="Bairro" value="{{ localizacao.bairro }}" required>
                                <label class="form-label fs-6 pt-2">Parcelamento:</label>
                                <input value="{{ localizacao.parcelamento }}" name="parcelamento" class="form-control" type="text" placeholder="Parcelamento" required>
                                <label class="form-label fs-6 pt-2">Quadra:</label>
                                <input value="{{ localizacao.quadra }}" name="quadra" class="form-control" type="text" placeholder="Quadra" required>
                                <label class="form-label fs-6 pt-2">Lote:</label>
                                <input value="{{ localizacao.lote }}" name="lote" class="form-control" type="text" placeholder="Lote" required>
                                <div class="input-group pt-4">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect02">Tipo Logradouro</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect02" name="tipo_logradouro" required>
                                        <option value="Avenida">Avenida</option>
                                        <option value="Chacara">Chácara</option>
                                        <option value="Estrada">Estrada</option>
                                        <option value="Rodovia">Rodovia</option>
                                        <option value="Rua">Rua</option>
                                        <option value="Travessa">Travessa</option>
                                        <option value="Via">Via</option>
                                        <option selected value="{{ localizacao.tipo_logradouro }}">{{ localizacao.tipo_logradouro }}</option>
                                    </select>
                                </div>
                                <label class="form-label fs-6 pt-2">Logradouro:</label>
                                <input name="logradouro" value="{{ localizacao.logradouro }}" class="form-control" type="text" placeholder="Logradouro" required>
                                <label class="form-label fs-6 pt-2">Número:</label>
                                <input class="form-control" value="{{ localizacao.numero }}" name="numero" type="text" placeholder="Número do local">
                                <label class="form-label fs-6 pt-2">Observações:</label>
                                <textarea class="form-control mb-3" placeholder="Descreva as observações do local." name="observacao"
                                    rows="7">{{ localizacao.observacao }}</textarea>
                            </div>
                        </div>
                    </div>
{% endblock %}