{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}

            <!-- Formulário de preenchimento -->
            {% block content %}
                {% bootstrap_css %}
                {% bootstrap_javascript %}
                <div class="row">
                    <div class="col-sm text-white">
                        <form class="form" method="POST" autocomplete="off" enctype="multipart/form-data">
                    <!-- Sem o token o formulario não é enviado (csrf_token para form é obrigatorio)-->
                            {% csrf_token %}          
                            {% include 'cadastrolocal.html' %}
                            <!-- Sequencia dos cadastros -->
                            <button class="btn btn-primary" type="submit">Salvar</button>
                            <button class="btn btn-danger" type="button">
                                <a class="text-white text-decoration-none" href="{% url 'index' %}">Cancelar</a>
                            </button>
                        </form>
                    </div>       
                </div>                   
            {% endblock %}